* {
    margin: 0;
    padding: 0;
}

/*escondendo o input file*/
input[type='file'] {
    display: none;
}

/*personalizando o fake input file*/
#labelFile {
    background-color: #1E90FF;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 40px;
    width: 150%;
    padding: 20px;
    margin-left: 10%;
    text-align: center;
}

#labelFile:hover {
    background-color: #1E64FF;
}

/*uma div que delimita todo o HTML e faz com q os elementos ao dar zoom não
"scrolle" na página*/
#wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 100vh;
}   

label {
    font-size: 20px;
    /*color: #0066ff;*/
}

#lblAdmin {
    /*display: block;*/
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    margin-left: 10%;
    font-size: 22px;    
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    /*user-select: none;*/
}

#lblAdmin input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

#checkmarkAdmin {
    position: absolute;
    left: 5%;
    height: 25px;
    width: 25px;
    background-color: white;
}

#checkmarkAdmin:after {
    content: "";
    position: absolute;
    display: none;
}

#lblAdmin:hover input ~ #checkmarkAdmin {
    background-color: black;
}

#lblAdmin input:checked ~ #checkmarkAdmin {
    background-color: black;
}

#lblAdmin input:checked ~ #checkmarkAdmin:after {
    display: block;
}

#lblAdmin #checkmarkAdmin:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid orange;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

body {
    background: url(fotos/background_cadastrarUsuario.jpg);
    width: auto;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h2 {
    width: auto;
    height: 5%;
    margin-left: 12%;
}

.box {
    position: absolute;
    top: 20%;
    left: 38%;
    /*transform: translate(-10%, -10%);*/
    width: 60vh;
    background-color: #ffb44e;
    padding: 4vh;
/*    background-color: #171617;*/
    border: 5px solid #ea9537;
    box-shadow: 0 5px 10px #171617;
    margin-bottom: 5%;
    /*faz com que os elementos html não "saiam" do elemento pai com a mudança de zoom*/
    z-index: 1;
}

.box input[type="submit"] {
    position: relative;
    border-bottom: none;
    cursor: pointer;
    background-color: #1b1b1b;
    color: orange;
    margin-top: 10%;
    margin-bottom: 20%;
    font-size: 35px;
    font-family: "Georgia", sans-serif;
    text-transform: uppercase;
    outline: none;
}

.box input[type="submit"]:hover {
    box-shadow: 0.2px 0.2px 2px 2px rgba(20,20,20,.80);
    background-color: rgb(10,10,10);
}

.box form {
    position: relative;
    width: 60%;
}

.box form div {
    position: relative;
}

.box form div label {
    position: absolute;
    pointer-events: none;
    left: 12%;
    top: 25%;
    color: #9aafbb;
    transition: .5s;
}

.box form input {
    position: relative;
    left: 10%;
    width: 150%;
    max-height: 70px;
    height: 70px;
    font-size: 20px;
    border-radius: 7px;
}

/*subindo o label*/
/*focus -> faz com que o estilo seja aplicado quando clicar no input*/
.box input:focus ~ label,
/*valid -> faz com que se estiver escrito algo no input o label
não desça novamente ao clicar em outro input
*pra o 'valid' funcionar o campo deve conter o atributo 'required'*/
.box input:valid ~ label
{
    transform: translate(-1%,-120%);
    /*top: 5px;*/
    /*left: 30px;*/
    color: blue;
    font-size: 12px;
    font-weight: bold;
}

/*borda dos input quando clicados ou quando conter algo escrito*/
.box input:focus,
.box input:valid
{
    border-bottom: 2px solid black;
}