#divForm {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffb44e;
    padding: 4vh;
    border: 5px solid #ea9537;
    box-shadow: 0 5px 10px #171617;
    width: 40vh;
}

div {
    position: relative;
}

#labelSala {
    position: absolute;
    color: white;
    left: 8%;
    top: 10%;
    pointer-events: none;
    transition: .5s;
}

#labelDescricao {
    position: absolute;
    color: white;
    left: 8%;
    top: 48%;
    pointer-events: none;
    transition: .5s;
}

input[type="text"] {
    height: 50px;
    width: 30%;
    margin-bottom: -100px;
}

textarea {
    height: 100px;
    width: 100%;
}

input:focus ~ #labelSala{
    /*transform: translate(-30%, -30%);*/
    color: blue;
}

body 
{
    background-image: url("fotos/background_cadastrarUsuario.png");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

input[type="text"], textarea {
    background-color: #191919;
}

input[type="text"]:focus, textarea:focus {
    background-color: #353b48;
}