* {
    margin: 0;
    padding: 0;
}

body 
{
    background-image: url("fotos/background_body_semlogo.png");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

#divForm {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffb44e;
    padding: 4vh;
    border: 5px solid #ea9537;
    box-shadow: 0 5px 10px #171617;
    width: 40vh;
}

label {
    position: absolute;
    pointer-events: none;
    left: 12%;
    top: 25%;
    color: #9aafbb;
    transition: .5s;
}

div {
    position: relative;
}

input {
    height: 50px;
    width: 30%;
    margin-bottom: -100px;
}

textarea {
    height: 100px;
    width: 100%;
}

input:focus ~ label, input:valid ~ label{
    transform: translate(-30%, -30%);
    color: blue;
}

textarea:focus + label{
    transform: translate(-30%, -30%);
    color: blue;
}