* {
    margin: 0;
    padding: 0;
}

/*escondendo o input file*/
input[type='file'] {
    display: none;
}

img
{
    cursor: pointer;
}

/*personalizando o fake input file*/
#labelFile {
    /*position: relative;*/
    background-color: #1E90FF;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    margin-top: 90px;
    margin-bottom: -20px;
    width: 150%;
    padding: 20px;
    margin-left: 11%;
    text-align: center;
    box-shadow: 0 5px 25px rgba(0,0,0,.5);

}

#labelFile:hover {
    background-color: #1E64FF;
}

#labelFile:active
{
    transform: translate(-3px, -65px);
}

img
{
    margin-left: 12vh;
    margin-top: 20px;
    margin-bottom: 20px;
}
    
#divSenha {
    margin-top: -10px;
}

/*uma div que delimita todo o HTML e faz com q os elementos ao dar zoom não
"scroll" na página*/
#wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 100vh;
}   

label {
    font-size: 20px;
    /*color: #0066ff;*/
}

.box #labelAdmin
{
    position: relative;
    left: 20%;
    top: -15px;
    display: inline;
    color: black;
    font-size: 20px;
}

.box input[type="checkbox"]
{
    /*position: relative;*/
    width: 80px;
    height: 40px;
    -webkit-appearance: none;
    background: #c6c6c6;
    outline: none;
    border-radius: 20px;
    box-shadow: inset 0 0 5px rgba(0,0,0,.2);
    transition: .5s;
}

input:checked[type="checkbox"]
{
    background: black;
}

input[type="checkbox"]:before
{
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    top: 0;
    left: 0;
    background: #fff;
    transform: scale(1.1);
    box-shadow: 0 2px 5px rgba(0,0,0,.2);
    transition: .5s;
}

input:checked[type="checkbox"]:before
{
    left: 40px;
    background: #1E64FF;
}

body {
    background: url(fotos/background_cadastrarUsuario.jpg);
    width: auto;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h2 {
    width: auto;
    height: 5%;
    margin-left: 12%;
}

.box {
    position: absolute;
    top: 20%;
    left: 38%;
    /*transform: translate(-10%, -10%);*/
        width: 60vh;
    background-color: #ffb44e;
    padding: 4vh;
/*    background-color: #171617;*/
    border: 5px solid #ea9537;
    box-shadow: 0 5px 10px #171617;
    margin-bottom: 5%;
    /*faz com que os elementos html não "saiam" do elemento pai com a mudança de zoom*/
    z-index: 1;
}

.box input[type="submit"] {
    position: relative;
    border-bottom: none;
    cursor: pointer;
    background-color: #1b1b1b;
    color: orange;
    margin-top: 10%;
    margin-bottom: 20%;
    font-size: 35px;
    font-family: "Georgia", sans-serif;
    text-transform: uppercase;
    outline: none;
}

.box input[type="submit"]:hover {
    box-shadow: 0.2px 0.2px 2px 2px rgba(20,20,20,.80);
    background-color: rgb(10,10,10);
}

.box input[type="submit"]:active
{
    transform: translateY(4px);
}

.box form {
    position: relative;
    width: 60%;
}

.box form div {
    position: relative;
}

.box form div label {
    position: absolute;
    pointer-events: none;
    left: 12%;
    top: 25%;
    color: #9aafbb;
    transition: .5s;
}

.box form input {
    position: relative;
    left: 10%;
    width: 150%;
    max-height: 70px;
    height: 70px;
    font-size: 20px;
    border-radius: 7px;
}

/*subindo o label*/
/*focus -> faz com que o estilo seja aplicado quando clicar no input*/
.box input:focus ~ label,
/*valid -> faz com que se estiver escrito algo no input o label
não desça novamente ao clicar em outro input
*pra o 'valid' funcionar o campo deve conter o atributo 'required'*/
.box input:valid ~ label
{
    transform: translate(-1%,-120%);
    /*top: 5px;*/
    /*left: 30px;*/
    color: blue;
    font-size: 12px;
    font-weight: bold;
}

/*borda dos input quando clicados ou quando conter algo escrito*/
.box input:focus,
.box input:valid
{
    /*border-bottom: 2px solid black;*/
}