*
{
    margin: 0;
    padding: 0;
}

button
{
    position: absolute;
    top: 10%;
    left: 80%;
    border-style: none;
    font-size: 30px;
    padding: 20px;
    background: linear-gradient(180deg, #191919, #1E64FF, #191919);
    border-radius: 60px;
    box-sizing: border-box;
    background-size: 300%;
    outline: none;
    display: none;
}

button:hover
{
    background: linear-gradient(180deg, #191919, orange, #191919);
}

button:active
{
    transform: translateY(4px);
}

section
{
    height: 100vh;
    background: black;
}

section:before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, orange, blue);
    mix-blend-mode: color;
    pointer-events: none;
}

video {
    /*object-fit: cover;*/
}

h1
{
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    color: #ddd;
    font-size: 5em;
    font-family: "Times", sans-serif;
    letter-spacing: 0.2em;
}

h1 span
{
    display: inline-block;
    animation: animate 1s linear;
}

@keyframes animate
{
    0%
    {
        opacity: 0;
        transform: rotateY(90deg);
        filter: blur(10px);
    }
    
    100%
    {
        opacity: 1;
        transform: rotateY(0deg);
        filter: blur(0);
    }
}

h1 span:nth-child(1)
{
    animation-delay: 1.5s;
}

h1 span:nth-child(2)
{
    animation-delay: 2s;
}

h1 span:nth-child(3)
{
    animation-delay: 2.5s;
}

h1 span:nth-child(4)
{
    animation-delay: 3s;
}

h1 span:nth-child(5)
{
    animation-delay: 3.5s;
}