*
{
    margin: 0;
    padding: 0;
}

header
{
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 100px;
    background: #191919;
    width: 100%;
    box-sizing: border-box;
    z-index: 2;
}

header nav
{
    float: right;
}

header nav #ulMain
{
    margin-right: 25vw;
}

header nav ul
{
    margin: 0;
    padding: 0;
    display: flex;
}

header nav ul li
{
    list-style: none;
    position: relative;
}

header nav ul li ul
{
    margin: 0;
    padding: 0;
    position: absolute;
    background: #333;
    display: none;
    
}

header nav ul li.active ul
{
    display: block;
    position: absolute;
}

/*header nav ul li ul li
{
    white-space: nowrap;
}*/

header nav ul li a
{
    width: 200px;
    padding: 30px 50px;
    display: block;
    font-size: 20px;
    color: #1E90FF;
    background: #191919;
    text-align: center;
    outline: none;
}

header nav ul li a:hover
{
    text-decoration: none;
    color: white;
    background: #1E64FF;
}

#divMenuToogle
{
    color: white;
    float: right;
    line-height: 50px;
    font-size: 24px;
    cursor: pointer;
    display: none;
}

@media (max-width: 1068px)
{
    
}

/*@media (max-width: 400px)*/
@media (max-width: 700px)
{
    header
    {
        padding: 15px 20px;
    }
    
    #divMenuToogle
    {
        display: block;
    }
    
    header nav
    {
        position: absolute;
        height: calc(100vh - 460px);
        background: #333;
        top: 50px;
        left: -100%;
        width: 100%;
        transition: .5s;
    }
    
    header nav.active
    {
        left: 0;
    }
    
    header nav ul
    {
        width: 100%;
        display: block;
        text-align: center;
    }
    
    header nav ul li a
    {
        width: 100%;
        border-bottom: 1px solid rgba(0,0,0,.2);
    }
    
    header nav ul li.active ul
    {
        position: relative;
    }
    
    header nav ul li.active ul a:hover
    {
        background: #262626;
        color: orange;
    }
    
}