/** {
    margin: 0;
    padding: 0;
}

#navLinks {
    margin-left:25%;
}

.divNomeUsuario {
    position: fixed;
}

#aDivSair {
    visibility: hidden;
}

.divNomeUsuario a {
    display: inline-block;
    color: #0033ff;
    text-align: center;
    padding: 30px 8%;
    text-decoration: none;
    font-size: 25px;
    font-family: "Trebuchet MS", Arial, sans-serif;
    background-color: #1b1b1b;
    width: 100%;
    float: left;
}

.divNomeUsuario a:hover {
    background-color: #0033ff;
    color: white;
}

.divNomeUsuario a:hover ~ #aDivSair{
    visibility: visible;
}

#aDivSair:hover{
    visibility: visible;
}

.navBar {
    position: fixed;
    left: 0;
    right: 0;
    background-color: #f8b032;
    height: 10%;
    box-shadow: 0 20px 100px black;
    overflow: hidden;
}

.navBar a {
    float: left;
    color: #0033ff;
    text-align: center;
    padding: 30px 8%;
    text-decoration: none;
    font-size: 25px;
    font-family: "Trebuchet MS", Arial, sans-serif;
}

.navBar a:hover {
    background-color: #0033ff;
    color: white;
}

img {
    position: relative;
    float: right;
}

#aUsuarios {
    position: absolute;
    top: 5%;
    right: 50%;
}*/

* {
    margin: 0;
    padding: 0;

}

div {
    height: 60%;
}

.menu {
    width: 100%;
    background-color: #f8b032;
    box-shadow: 0 20px 100px black;
}

.menu a {
    color: #0033ff;
    font-weight: bold;
    font-size: 170%;
    margin-left: 40%;
}

.menu a:hover {
    background-color: #0033ff;
    color: white;
}

.menu, .menu ul li{
    list-style: none;
    float: left;
}

.menu li {
    position: relative;
    float: left;
}

.menu li a:hover {
    color: white;
    background-color: #f8b032;
}

.menu li ul {
    position: relative;
    background-color: #f8b032;
    display: none;
}

.menu li:hover ul, .menu li.over ul {
    display: block;
}

.menu li ul li {
    border: 1px solid black;
    display: block;
    width: 150px;
}