#btCadastrarSala {
    position: relative;
    margin-top: 10%;
    margin-left: 47%;
    font-size: 25px;
    text-align: center;
    font-family: "Trebuchet MS", sans-serif;
    box-sizing: border-box;
    background: linear-gradient(90deg, #191919, #1E64FF, #191919);
    background-size: 300%;
    border-radius: 30px;
    border-style: none;
    z-index: 1;
    padding: 10px;
    outline: none;
}

#btCadastrarSala a {
    color: #fff;
    text-decoration: none;
}

#btCadastrarSala:hover
{
    animation: animate 4s linear infinite;
}

#btCadastrarSala:active {
    transform: translateY(4px);
    background: linear-gradient(180deg, #191919, #1E64FF, #191919);
}

@keyframes animate
{
    0%
    {
        background-position: 0%;
    }
    
    100%
    {
        background-position: 400%;
    }
}

table {
    background-color: #191919;
    color: orange;
    width: 100%;
}

table td
{
    font-size: 110%;
}

table td, table th {
    border-color: orange;
    padding: 10px;
}

table th {
    background: linear-gradient(90deg, #191919, orange, #191919);
    animation: animate 30s linear infinite;
    background-size: 400%;
    color: black;
    font-size: 120%;
}

table button {
    width: 100%;
    height: 100%;
    background-color: #191919;
    color: #1E90FF;
    font-weight: bold;
    border-style: none;
}

table button:hover {
    background-color: #1E64FF;
    color: white;
    font-size: 20px;
}

body
{
    background-image: url("fotos/background_body_semlogo.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}