#btCadastrarSala {
    position: relative;
    margin-top: 10%;
    margin-left: 47%;
    font-size: 25px;
    text-align: center;
    font-family: "Trebuchet MS", sans-serif;
    box-sizing: border-box;
    background: linear-gradient(90deg, #191919, #1E64FF, #191919);
    background-size: 300%;
    border-radius: 30px;
    border-style: none;
    z-index: 1;
    padding: 10px;
    outline: none;
}

#btCadastrarSala a {
    color: #fff;
    text-decoration: none;
}

#btCadastrarSala:hover
{
    animation: animate 4s linear infinite;
}

#btCadastrarSala:active {
    transform: translateY(4px);
    background: linear-gradient(180deg, #191919, #1E64FF, #191919);
}

@keyframes animate
{
    0%
    {
        background-position: 0%;
    }
    
    100%
    {
        background-position: 400%;
    }
}

table {
    background-color: #191919;
    color: orange;
    width: 100%;
    text-align: center;
}

table td
{
    font-size: 110%;
}

table td, th {
    border-color: orange;
}

.tdPadding
{
    padding: 10px;
}

table th {
    background: linear-gradient(90deg, #191919, orange, #191919);
    animation: animate 30s linear infinite;
    background-size: 400%;
    color: black;
    font-size: 120%;
}

table .tdFakeButton {
    height: 100%;
    font-weight: bold;
    color: #1E90FF;
    cursor: pointer;
}

table .tdFakeButton:hover {
    background-color: #1E64FF;
    color: white;
}

/*table a:hover {
    background-color: #1E64FF;
    color: white;
    font-size: 20px;
}*/

body
{
    background-image: url("fotos/background_body_semlogo.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#divContainerAlert
{
    position: absolute;
    top: 40%;
    left: 35%;
    width: 500px;
    height: 200px;
    background: orange;
    box-shadow: 0 0 20px black;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    z-index: 2;
}

h1
{
    color: #191919;
    margin-top: 20px;
}

#buttonAlertCancelar
{
    margin-top: 30px;
    margin-right: 70px;
    border: 2px solid black;
    padding: 5px 10px 0;
    border-radius: 30px;
    background-color: black;
    cursor: pointer;
    outline: none;
}

#buttonAlertCancelar:hover
{
    background-color: red;
}

#buttonAlertCancelar:hover i, #buttonAlertCancelar:hover label
{
    color: black
}

#buttonAlertCancelar:active
{
    transform: translateY(4px);
}

#buttonAlertCancelar label
{
    position: relative;
    top: -10px;
    color: red;
    font-size: 20px;
    font-family: "Trebuchet MS";
    font-weight: bold;
    cursor: pointer;
}

#buttonAlertCancelar i
{
    color: red;
    font-size: 40px;
}

#buttonAlertConfirmar
{
    margin-top: 30px;
    /*top sides bottom*/
    padding: 5px 10px 0;
    border-radius: 30px;
    border: 2px solid black;
    background-color: black;
    cursor: pointer;
    outline: none;
}

#buttonAlertConfirmar:hover
{
    background-color: #2ecc71;
}

#buttonAlertConfirmar:hover i, #buttonAlertConfirmar:hover label
{
    color: black
}

#buttonAlertConfirmar:active
{
    transform: translateY(4px);
}

#buttonAlertConfirmar label
{
    position: relative;
    top: -10px;
    color: #2ecc71;
    font-size: 20px;
    font-family: "Trebuchet MS";
    font-weight: bold;
    cursor: pointer;
}

#buttonAlertConfirmar i
{
    color: #2ecc71;
    font-size: 40px;
}

.divError
{
    position: absolute;
    background-color: orange;
    width: 500px;
    height: 200px;
    top: 40%;
    left: 35%;
    padding: 15px 20px;
    box-shadow: 0 0 20px black;
}

.divError label
{
    font-size: 25px;
    font-weight: bold;
    color: #191919;
}

.divError button
{
    width: 150px;
    font-size: 25px;
    font-weight: bold;
    border-radius: 30px;
    border: 2px solid #0563af;
    padding: 5px 10px;
    margin-left: calc(38% - 10px);
    margin-top: 20px;
    background-color: #007ce0;
    color: white;
    cursor: pointer;
    outline: none;
}

.divError button:hover
{
    background-color: #0563af;
}

.divError button:active
{
    transform: translateY(4px);
}

.divError i
{
    color: red;
    font-size: 50px;
    margin-left: calc(50% - 10px);
    display: block;
}